/*Author: Jéssica*/

/* ______Layout______*/

body{
    background-color: #fff;
}

form{
    background-color: #fff;
}

/* ______Barra de navegação______*/

.barra-preta{
    background: #000;
}
.borda-titulo{
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

.color-green{
    color: #28a745;
    text-decoration: none;
}

a:link{
    text-decoration: none;
    padding-right: 30px;
}

/* ______Estrutura formulário______*/

.alinhamento{
    justify-content: center;
}

label{
    text-align: right;
    font-weight: bold;
}

h5{
    color: #28a745;
}

.the-fieldset {
    border: 1px solid #e0e0e0;    
}

.borda-sup {
    border: 1px #e0e0e0;
    border-style: none none solid none;
    width: 1108px; 
}

.borda-conteudo{
    border: 1px;
    border-style: none none solid none;
    width: 1000px;
}

.botao-denunciar{
    text-align: right;
}

.estilo-font{
    font-family: 'Montserrat', sans-serif; 
    font-size: 17px;
}

/* ______Rodapé______*/

footer{
    background:#000;
    padding: 15px 0px 5px 0px;
    text-align:center;
    margin-top:0%;
    font-family: 'Montserrat', sans-serif; 
}

footer h5{
    color: #fff;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a:hover{
    color: #28a745;
    text-decoration: none;
}

footer ul{
    list-style: none;
}

footer p{
    color: #28a745;
}


/* ______Media Queries______*/

/* Extra small devices (portrait phones, less than 576px) 5*/
@media (max-width: 575.98px) {
    .borda-conteudo{
        border: 1px;
        border-style: none none solid none;
        width: 400px;
    }

    .borda-sup{
        border: 1px #e0e0e0;
        border-style: none none solid none;
        width: 476px;
    }

    h5{
        font-size: 15px;
    }

    .estilo-font{
        font-size: 14px;
    }

    .tamanho-font{
        font-size: 12px;
    }

    .tamanho-font-tipo{
        font-size: 12px;
    }

    .tamanho-font-data{
        font-size: 14px;
    }

    input[type=text],.form-control {
        width: 155%;
        height: 75%;
        margin-left: 1px;
    }  

    input[type=select],.form-select{
        width: 97%;
        height: 74%;
        margin-left: 5px;
    }

    .tamanho{
        width: 174%;
    }

    .tamanho-descricao{
        width: 140%;
    }

    .c-titulo-resp{
        display: grid;
        grid-template-areas: "div div";
        margin-right: 75px;
        margin-bottom: 15px; 
    }

    .c-tipo-resp{
        display: grid;
        grid-template-areas: "div div";
        margin-bottom: 15px;
    }

    .c-envolvido-resp{
        display: grid;
        grid-template-areas: "div div";
        padding-right: 145px;   
        margin-bottom: 18px;  
    }
    
    .c-infrator-resp{
        display: grid;
        grid-template-areas: "div div";
        padding-left: 32px;
        margin-bottom: 18px;
    }

    .c-funcao-infrator-resp{
        display: grid;
        grid-template-areas: "div div";       
        padding-left: 32px;
        margin-bottom: 18px;
    }

    .c-descricao-resp{
        display: grid;
        grid-template-areas: "div div";
        margin-right: 56px;
        padding-right: 31px;
        margin-bottom: 18px;
    }

    .c-data-resp{
        display: grid;
        grid-template-areas: "div div";
        margin-bottom: 5px;
        padding-left: 207px;
    }

    input[type=date],.form-date{
        height: 32px;
        width: 270px;
    }

    .c-infrator-resp{
        display: grid;
        grid-template-areas: "div div";
        padding-right: 118px;
        margin-bottom: 18px;
    }

    .c-funcao-infrator-resp{
        display: grid;
        grid-template-areas: "div div";       
        padding-right: 123px; 
        margin-bottom: 18px;
    }

    .c-anexos-resp{
        display: grid;
        grid-template-areas: "div div";
        margin-right: 30px;
        padding-left: 45px;
    }

    .label-local{
        margin-right: 110px;
        margin-left: 5px;
        padding-right: 5px;
    }

    .b-local{
        font-size: 14px;
        width: 150px;
    }

    .c-geolocalizacao-resp{       
        margin-right: 200px;
    }

    .alin-geo{
        padding: 1px;
        bottom: 30px;
        left: 160px;
    }

    .alin-lat{       
        bottom: 30px;
        right: 10px;
    }

    .alin-lon{       
        bottom: 30px;
        right: 12px;
    }

    .alin-img{       
        bottom: 30px;
        right: 5px;
    }
    
    .alin-tip{
        left: 6px;
    }
    
    .alin-nom{
        left: 4px;
    }

    .alin-fun{
        left: 4px;
    }

    .borda-geolocation{
        display: grid;       
        border: 1px #e0e0e0;
        border-style: solid;               
        font-size: 13px;
        border-radius: 5px;             
        margin-left: 20px;
        margin-right: 20px;
    }

    .borda-imagem{
        /*        border: 1px #e0e0e0;
                border-style: solid;      */
        padding: 5px;
        font-size: 13px;
        border-radius: 5px;  
    }

    .padd-inserir-imagem{
        padding-right: 17px;
    }

    .padd-img{
        padding-left: 0px;
    }

    .img-alinhamento{
        padding-top: 15px;
    }
}

/* Small devices (landscape phones, 576px and up) 4*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .the-fieldset {
        border: 1px solid #e0e0e0;    
        width: 500px;
    }

    .alinhamento{
        justify-content: center;
    }

    .borda-conteudo{
        border: 1px;
        border-style: none none solid none;
        width: 430px;
    }

    .borda-sup{
        border: 1px #e0e0e0;
        border-style: none none solid none;
        width: 500px;
    }

    .sidebar{
        margin-left: -130px;
    }

    .sidebar.toggled{
        margin-left: 0px;
    }

    li{
        font-size: 12px;
        font-family: 'Montserrat', sans-serif; 
    }

    .sidebar{
        min-width: 130px;
        max-width: 130px;
    }

    h5{
        font-size: 15px;
    }

    .estilo-font{
        font-size: 12px;
    }

    .tamanho-font{
        font-size: 12px;
    }

    .tamanho-font-tipo{
        font-size: 12px;
        height: 28px;
    }

    .label-local{
        margin-right: 5px;
        padding-left: 10px;
    }

    .b-local{
        font-size: 14px;
        width: 150px;
    }

    input[type=text],.form-control {
        width: 100%;
        height: 85%;
        margin-left: 1px;
    }  

    input[type=select],.form-select{
        width: 100%;
        height: 85%;
        margin-left: 1px;
    }

    .c-infrator-resp{      
        width: 511px;         
    }

    .c-funcao-infrator-resp{
        width: 511px; 
    }

    .alinhar{
        padding-right: 5px;
    }

    .al-nome-funcao{
        height: 35px;      
    }

    .borda-geolocation{
        border: 1px #e0e0e0;
        border-style: solid;        
        margin-left: 30px; 
        font-size: 15px;
        border-radius: 5px; 
    }

    .alin-nom{
        left: 4px;
    }

    .alin-fun{
        left: 4px;
    }

    .borda-imagem{
        /*        border: 1px #e0e0e0;
                border-style: solid;*/
        margin-left: 30px; 
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
    }

    .padd-inserir-imagem{
        padding-right: 5px;
    }

    .padd-img{
        padding-left: 0px;
    }

    .img-alinhamento{
        padding-top: 15px;
    }


}

/* Medium devices (tablets, 768px and up) 3*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .borda-conteudo{
        border: 1px;
        border-style: none none solid none;
        width: 605px; 
    }

    .borda-sup{
        border: 1px #e0e0e0;
        border-style: none none solid none;
        width: 689px;
    }  

    h5{
        font-size: 18px;
    }

    .estilo-font{
        font-size: 14px;
    }

    .tamanho-font{
        font-size: 13px;
    }

    .tamanho-font-tipo{
        font-size: 13px;

    }

    .c-infrator-resp{
        padding-top: 4px;
    }

    input[type=text],.form-control {
        width: 100%;
        height: 95%;
        margin-left: 1px;
    }

    input[type=select],.form-select{
        width: 100%;
        height: 95%;
        margin-left: 1px;
    }

    .al-nome-funcao{
        height: 35px;      
    }

    .borda-geolocation{
        border: 1px #e0e0e0;
        border-style: solid;        
        margin-left: 30px; 
        font-size: 15px;
        border-radius: 5px;    
    }

    .borda-imagem{
        /*        border: 1px #e0e0e0;
                border-style: solid;*/
        margin-left: 30px; 
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
    }

    .padd-inserir-imagem{
        padding-right: 5px;
    }

    .padd-img{
        padding-left: 0px;
    }

    .img-alinhamento{
        padding-top: 15px;
    }
}

/* Large devices (desktops, 992px and up) 2*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .borda-conteudo{
        border: 1px;
        border-style: none none solid none;
        width: 815px;
        font-size: 18px;
    }

    .borda-sup {
        border: 1px #e0e0e0;
        border-style: none none solid none;
        width: 929px; 
    }

    .margem-titulo{
        margin-left: 50px;
    }

    .estilo-font{
        font-size: 15.5px;
    }

    .c-infrator-resp{
        padding-top: 5px;
    }

    input[type=text],.form-control {
        width: 100%;
        height: 95%;
        margin-left: 1px;
    }

    input[type=select],.form-select{
        width: 100%;
        height: 95%;
        margin-left: 1px;
    }

    .al-nome-funcao{
        height: 35px;      
    }

    .borda-geolocation{
        border: 1px #e0e0e0;
        border-style: solid;        
        margin-left: 30px; 
        font-size: 15px;
        border-radius: 5px;    
    }

    .borda-imagem{
        /*        border: 1px #e0e0e0;
                border-style: solid;*/
        margin-left: 30px; 
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
    }

    .padd-inserir-imagem{
        padding-right: 5px;
    }

    .padd-img{
        padding-left: 0px;
    }

    .img-alinhamento{
        padding-top: 15px;
    }

}

/* Extra large devices (large desktops, 1200px and up) 1*/
@media (min-width: 1200px) {
    .borda-conteudo{
        border: 1px;
        border-style: none none solid none;
        width: 1030px;
        font-size: 18px;
    }

    .borda-sup {
        border: 1px #e0e0e0;
        border-style: none none solid none;
        width: 1109px; 
    }

    .estilo-font{
        font-size: 15.5px;
    }

    input[type=select],.form-select{
        width: 100%;
        height: 95%;
    }

    .borda-geolocation{
        border: 1px #e0e0e0;
        border-style: solid;        
        margin-left: 30px; 
        font-size: 15px;
        border-radius: 5px;    
    }

    .borda-imagem{
        /*        border: 1px #e0e0e0;
                border-style: solid;*/
        margin-left: 30px; 
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
    }

    .padd-inserir-imagem{
        padding-right: 5px;
    }

    .padd-img{
        padding-left: 0px;
    }

    .img-alinhamento{
        padding-top: 15px;
    }

}


